@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #667085;
  background-color: #fff;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* basic markdown spacing */
h1 {
  color: #006732;
  font-weight: 500;
}
